# Data Science Project Notebook

## Introduction
This notebook explores various aspects of data science, including languages, libraries, and tools.

## Data Science Languages
- Python
- R
- SQL
- JavaScript

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn

## Data Science Tools
| Tool         | Purpose                       |
|--------------|-------------------------------|
| Jupyter      | Interactive notebooks          |
| GitHub       | Version control                |
| Tableau      | Data visualization             |
| Apache Spark | Big data processing            |

## Arithmetic Expression Examples
Below are examples of basic arithmetic operations.

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Objectives
- Understand data science languages and libraries.
- Explore tools used in data science.
- Perform basic arithmetic operations using Python.

## Author
Md Farman Ali